.container{
	position: absolute;
	top: 9rem;
	width: 100vw;
	height: calc(100vh - 14rem);
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin-top: 5rem;
	transition: opacity 0.4s 1s;
}

.intro{
	display: flex;
	margin: 0;
	color: #cccccc;
	padding: 1.25rem;
	padding-top: 2rem;
	font-size: 1.75rem;
	transition: opacity 0.8s 1s;
}


.intro p{
	margin:0;
	width: max-content;
}

.roller{
	z-index: 100;
	color: #FF8c32;
	width: max-content;
	display: flex;
	transition: all 0.3s ease-in-out;
}
.roller span{
	max-width: calc(100vw - 2.5rem);
	word-wrap: normal;
}
.roller:before {
	content : "";
	position: absolute;
	left    : 0;
	bottom  : 0;
	height  : 2px;
	width   : 0%;
	border-bottom:2px solid #FF8c32;
	transition: width 0.3s ease-in-out;
}
.roller:hover:before{
	width: 100%;
}
.roller:hover{
	transform: translateY(-5px);
}

.emote{
	display: block;
	position: absolute;
	right: 5%;
	bottom: calc(50% + 4.5rem);
	transform: translateY(50%);
	transition: opacity 0.8s ease-in-out 1.5s;
}

.about{
	font-size: 3rem;
	display: flex;
	margin: 0;
	color: #cccccc;
	padding: 1.25rem;
	padding-top: 10vh;
	transition: opacity 0.4s 2.5s;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.about_buttons{
	display: flex;
	max-width: calc(100vw - 2.5rem);
	width: 28rem;
}

.about_buttons button{
	cursor: pointer;
	font-size: 1.35rem;
	outline: none;
	border-radius: 0.3rem;
	width: 10rem;
	height: 3.5rem;
	transition: all 0.3s ease-in-out;
	margin: auto;
}

.about_resume{
	background-color: #FF8c32;
	border: none;	
}
.about_buttons button:hover, .about_buttons button:active{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 1px #FF8c32;
}

.about_connect{
	cursor: pointer;
	font-size: 1.75rem;
	color: #FF8c32;
	background-color: rgba(128, 128, 128, 0.2);
	outline: none;
	border: 2px solid #FF8c32;
	border-radius: 0.3rem;
	width: 10rem;
	height: 3.5rem;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 850px) {
	.container{
		padding: 0;
	}
	.emote{
		right: 50%;
		bottom: 20%;
		transform: translate(50%, 0)
	}
}


@media only screen and (max-width: 450px){
	.container{
		top: 6rem;
	}
	.intro{
		top: 6rem;
		flex-direction: column;
	}
}

@media only screen and (max-height: 600px){
	.container{
		top: 3rem;
	}
	.emote{
		bottom: 5%;
	}
}
@media only screen and ((orientation: portrait) or (max-height: 500px)) and (max-width: 850px){
	.container{
		margin-top: 0;
	}
	.about{
		padding-top: 2vh;
		font-size: 12vw;
	}
	.about p{
		margin-top: 0;
		margin-bottom: 5vh;
	}
	.about_buttons button{
		font-size: 5vw;
		width: 30vw;
		height: 11vw;
	}
}
@media only screen and (max-height: 500px){
	.container{
		margin-top: 2rem;
		height: calc(100vh - 3rem);
		overflow-y: scroll;
	}
}